*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* Nav bar  */

.entire-nav{
  position: fixed;
  width: 100%;
}

  .navbar {
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 800;
    color: white;
    background-color: #E7A64E;
    text-shadow: black;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
  }

  .nav-item{
      text-decoration: none;
      color: white;
      padding-right: 30px;
      text-shadow: 2px 2px 5px black;
  }

/* Project Nav bar  */

.nav-menu{
  background-color: #E7A64E;
  padding: 20px 0;
  width: 100%;
}

.nav-menu ul{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif; 
  color: white;
}

.nav-menu ul li{
  list-style: none;
  margin: 0 20px;
  display: inline;
}

.nav-menu ul li a{
  font-size: 24px;
  line-height: 1em;
  display: inline-block;
  font-weight: 800;
  transition: 0.5s;
  text-decoration: none;
}


.nav-menu ul li:hover a{
  color: #E98600;
  font-weight: 1000;
}

/* Jumbotron  */

.jumbotron {
    background-image: url(../images/head.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-stretch: expanded;
    font-family: 'Josefin Sans', sans-serif; 
    height: 900px;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    padding-top: 50px;
    background-position: center;
    font-weight: 800;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: #353737;
    text-align: center;
  }

  .birdhead{
    position: center;
    height: 385px;
  }

  .display-4{
      font-size: 50px;
      padding-top: 40px;
      padding-bottom: 30px;
  }

  .lead{
      font-size: 24px;
      padding-bottom: 40px;
  }

.btn{
    font-family: 'Josefin Sans', sans-serif; 
    color: #353737;
    font-size: 18px;
}

  /* What they do */

  .what{
    font-family: 'Josefin Sans', sans-serif; 
    color: #353737;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px; 
  }

  .whatcopy{
    font-family: 'Josefin Sans', sans-serif; 
    color: #353737;
    font-size: 20px;
    font-weight: 650;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    line-height: 1.2;
  }

    /* goal */

    .goal{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
    }
  
    .goalcopy{
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 650;
      color: #353737;
      font-size: 20px;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      line-height: 1.2;
    }

     /* process */

     /* Cards */

    .container-fluid content {
      justify-content: center;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 50px;
    }

    .row-process{
      display: flex;
      justify-content: space-evenly;
      padding-left: 100px;
      padding-right: 100px;
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 800;
      padding-bottom: 200px;
    }

    .sectionHeading{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px;
    }

    .card-title{
      color: #E98600;
      font-size: 20px;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .card-body ul{
      text-align: center;
      list-style-type: none;
      font-size: 20px;
      font-weight: 650;
      line-height: 1.2;
    }

    /* role */

    .role{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-top: 50px; 
      padding-bottom: 50px;
    }
  
    .rolecopy{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 20px;
      font-weight: 650;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      line-height: 1.2;
    }

    .card-role{
      display: flex;
      justify-content: space-evenly;
      padding-left: 100px;
      padding-right: 100px;
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 800;
      padding-bottom: 100px;
      line-height: 1.2;
    }

     /* problem */

     .problem{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
    }
  
    .problem-copy{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 20px;
      font-weight: 650;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      line-height: 1.2;
    }

    /* persona */

    .persona{
      display: flex;
      font-family: 'Josefin Sans', sans-serif; 
      background-image: url(../images/persona.png);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      color: #353737;
      font-weight: 800;
      text-align: left;
      padding-bottom: 50px;
      padding-top: 100px; 
      grid-template-rows: 50% 50%;
    }

    .prototext{
      width: 45%;
      padding-left: 200px;
    }
    .persona-head{
      font-size: 30px;
      padding-bottom: 50px;
      padding-top: 20px; 
    }

    .personacopy{
      font-size: 20px;
      padding-bottom: 50px;
      line-height: 1.2;
    }

        /* evaluation */

        .evaluation{
          display: flex;
          font-family: 'Josefin Sans', sans-serif; 
          background-image: url(../images/evaluation.png);
          background-size: contain;
          background-position: left;
          background-repeat: no-repeat;
          color: #353737;
          font-weight: 800;
          text-align: left;
          padding-bottom: 50px;
          padding-top: 100px; 
          grid-template-rows: 50% 50%;
        }
    
        .evaluationtext{
          padding-left: 55%;
          padding-right: 200px;
        }
        .evaluation-head{
          font-size: 30px;
          padding-bottom: 50px; 
        }
    
        .evaluationcopy{
          font-size: 20px;
          line-height: 1.2;
        }

        .evaluationcopy ul{
          padding-top: 10px;
          font-size: 20px;
          text-align: left;
          color: #E98600;
          padding-left: 20px;
          line-height: 1.2;
        }

        /* flow */

    .flow{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
      justify-content: center;
    }
  
    .flowcopy{
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 650;
      color: #353737;
      font-size: 20px;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      padding-top: 50px;
      line-height: 1.2;
    }

     /* comp */

     .comp{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
      justify-content: center;
    }
  
    .compcopy{
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 650;
      color: #353737;
      font-size: 20px;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      padding-top: 50px;
      line-height: 1.2;
    }

 /* story */

 .story{
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 150px; 
  justify-content: center;
}

.storycopy{
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 20px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  line-height: 1.2;
}

 /* Usability Testing */

.container-fluid-testing {
  justify-content: center;
  padding-bottom: 50px;
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 800;
}

.usetestcards{
  display: flex;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}

.testcopy{
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 20px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  line-height: 1.2;
}

.testHeading{
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding-top: 150px; 
  justify-content: center;
}

 /* usability results */

     /* Cards */

     .container-fluid-results {
      justify-content: center;
      padding-left: 200px;
      padding-right: 200px;
    }

    .results-process{
      display: flex;
      justify-content: space-evenly;
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 800;
      padding-bottom: 200px;
    }

    .resultscard{
      padding-left: 20px;
      padding-right: 20px;
      width: 200px;
    }

    .resultsHeading{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px;
    }

    .results-text{
      color: #353737;
      font-family: 'Josefin Sans', sans-serif; 
      font-size: 20px;
      text-align: center;
      padding-bottom: 40px;
      line-height: 1.2;
      font-weight: 800;
    }

    .results-title{
      color: #E98600;
      font-size: 24px;
      text-align: center;
      padding-bottom: 20px;
    }

    .resultscopy{
      text-align: center;
      list-style-type: none;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 650;
    }

 /* Site Mapping */

 .site{
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

.sitecopy{
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  line-height: 1.2;
}

    /* wireframing */

    .wire{
      display: flex;
      font-family: 'Josefin Sans', sans-serif; 
      background-image: url(../images/wire.png);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      color: #353737;
      font-weight: 800;
      text-align: left;
      padding-bottom: 50px;
      padding-top: 100px; 
      grid-template-rows: 50% 50%;
      height: 500px;
    }

    .wiretext{
      width: 45%;
      padding-left: 200px;
    }
    .wire-head{
      font-size: 30px;
      padding-bottom: 50px;
      padding-top: 20px; 
    }

    .wirecopy{
      font-size: 20px;
      padding-bottom: 50px;
      line-height: 1.2;
    }

 /* Style Guide */

 .style{
  padding-top: 100px;
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

.stylecopy{
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 20px;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 50px;
  line-height: 1.2;
}

 /* Iteration */

 .iteration{
  padding-top: 100px;
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding-bottom: px;
}

.iteration p{
padding: 50px;
}

     /* Cards */

    .iteration-process{
      display: flex;
      justify-content: space-evenly;
      padding-left: 100px;
      padding-right: 100px;
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 800;
      padding-bottom: 200px;
    }

    .iterationcard{
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      width: 250px;
    }

    .iterationcopy{
      text-align: center;
      list-style-type: none;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 650;
    }

 /* Final */

 .final{
  padding-top: 50px;
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  background-image: url(../images/final-back.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.finalcopy{
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 20px;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  line-height: 1.2;
}

.finalimage{
  padding-top: 50px;
}

.btn{
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-size: 18px;
  padding-top: 100px;
}

 /* Final Thoughts  */

 .thoughts{
  padding-top: 100px;
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

.thoughtscopy{
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 20px;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 50px;
  line-height: 1.2;
}

/* Footer Section */

.hi{
  color: white;
  background-color: #172323;
  width: 100%;
  padding-top: 70px;
  text-align: center;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 24px;
  height: 100px;
}
  
.footersection{
  background-color: #172323;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.footercontainer{
  max-width: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
  
.dasimages{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
    
.foot1{
  flex: 1;
  padding: 50px;
  margin: 3px;
}
  
.foot1 h3{
  color: white;
  padding-top: 50px;
  text-align: center;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
}
  
.foot2{
  flex: 1;
  padding: 50px;
  margin: 3px;
}
  
.foot2 h3{
  color: white;
  padding-top: 50px;
  text-align: center;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
}
  
.foot3{
  flex: 1;
  padding: 50px;
  margin: 3px;
}
  
.foot3 h3{
  color: white;
  padding-top: 50px;
  text-align: center;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
}
  
.foot4{
  flex: 1;
  padding: 50px;
  margin: 3px;
}
  
.foot4 h3{
  color: white;
  padding-top: 50px;
  text-align: center;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
}
  
.copy{
  color: white;
  background-color: #172323;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 14px;
  height: 20px;
}
  
.footimages{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
