*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Jumbotron  */
.jumbotron {
    background-image: url(../images/head.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-stretch: expanded;
    font-family: 'Josefin Sans', sans-serif; 
    height: 800px;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    background-position: center;
    font-weight: 800;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: #353737;
    text-align: center;
  }

  .birdhead{
    position: center;
    height: 450px;
  }

  .display-4{
      font-size: 50px;
      padding-top: 40px;
      padding-bottom: 20px;
  }

  .lead{
      font-size: 24px;
      padding-bottom: 20px;
  }

.btn{
    font-family: 'Josefin Sans', sans-serif; 
    color: #353737;
    font-size: 18px;
}