*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Nav bar  */

  .navbar {
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 800;
    color: white;
    background-color: #E7A64E;
    text-shadow: black;
    font-size: 30px;
    word-spacing: 30px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .nav-item{
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 5px black;
  }

/* Jumbotron  */
.jumbotron {
    background-image: url(../images/head.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    justify-content: center;
    text-align: center;
    font-stretch: expanded;
    font-family: 'Josefin Sans', sans-serif; 
    height: 900px;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    padding-top: 50px;
    background-position: center;
    font-weight: 800;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: #353737;
    text-align: center;
  }

  .birdhead{
    position: center;
    height: 450px;
  }

  .display-4{
      font-size: 50px;
      padding-top: 40px;
      padding-bottom: 30px;
  }

  .lead{
      font-size: 24px;
      padding-bottom: 40px;
  }

.btn{
    font-family: 'Josefin Sans', sans-serif; 
    color: #353737;
    font-size: 18px;
}

/* Project Nav bar  */

.navbar-project {
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 800;
    background-color: none;
    font-size: 20px;
    padding-left: 20px;
  }

  .project-item{
      text-decoration: none;
      color: #E7A64E;
      padding-right: 50px;
  }

  /* What they do */

  .what{
    font-family: 'Josefin Sans', sans-serif; 
    color: #353737;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px; 
  }

  .whatcopy{
    font-family: 'Josefin Sans', sans-serif; 
    color: #353737;
    font-size: 24px;
    font-weight: 650;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

    /* goal */

    .goal{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
    }
  
    .goalcopy{
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 650;
      color: #353737;
      font-size: 24px;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
    }

     /* process */

     /* Cards */

    .container-fluid content {
      justify-content: center;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 50px;
    }

    .row-process{
      display: flex;
      justify-content: space-evenly;
      padding-left: 100px;
      padding-right: 100px;
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 800;
      padding-bottom: 200px;
    }

    .sectionHeading{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px;
    }

    .card-title{
      color: #E7A64E;
      font-size: 24px;
      text-align: center;
      padding-bottom: 20px;
    }

    ul{
      text-align: center;
      list-style-type: none;
      font-size: 22px;
      font-weight: 650;
    }

    /* role */

    .role{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
    }
  
    .rolecopy{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 24px;
      font-weight: 650;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
    }

    .card-role{
      display: flex;
      justify-content: space-evenly;
      padding-left: 100px;
      padding-right: 100px;
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 800;
      padding-bottom: 200px;
    }

     /* problem */

     .problem{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
    }
  
    .problem-copy{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 24px;
      font-weight: 650;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
    }

    /* persona */

    .persona{
      display: flex;
      font-family: 'Josefin Sans', sans-serif; 
      background-image: url(../images/persona.png);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      color: #353737;
      font-weight: 800;
      text-align: left;
      padding-bottom: 50px;
      padding-top: 100px; 
      grid-template-rows: 50% 50%;
    }

    .prototext{
      width: 45%;
      padding-left: 200px;
    }
    .persona-head{
      font-size: 30px;
      padding-bottom: 50px;
      padding-top: 20px; 
    }

    .personacopy{
      font-size: 24px;
      padding-bottom: 50px;
    }

        /* evaluation */

        .evaluation{
          display: flex;
          font-family: 'Josefin Sans', sans-serif; 
          background-image: url(../images/evaluation.png);
          background-size: contain;
          background-position: left;
          background-repeat: no-repeat;
          color: #353737;
          font-weight: 800;
          text-align: left;
          padding-bottom: 50px;
          padding-top: 100px; 
          grid-template-rows: 50% 50%;
        }
    
        .evaluationtext{
          padding-left: 55%;
          padding-right: 200px;
        }
        .evaluation-head{
          font-size: 30px;
          padding-bottom: 50px; 
        }
    
        .evaluationcopy{
          font-size: 24px;
        }

        .evaluationcopy ul{
          padding-top: 10px;
          font-size: 24px;
          text-align: left;
          color: #E7A64E;
          padding-left: 20px;
        }

        /* flow */

    .flow{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
      justify-content: center;
    }
  
    .flowcopy{
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 650;
      color: #353737;
      font-size: 24px;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      padding-top: 50px;
    }

     /* comp */

     .comp{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px; 
      justify-content: center;
    }
  
    .compcopy{
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 650;
      color: #353737;
      font-size: 24px;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      padding-top: 50px;
    }

 /* story */

 .story{
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 150px; 
  justify-content: center;
}

.storycopy{
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 24px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
}

 /* Usability Testing */

.container-fluid-testing {
  justify-content: center;
  padding-bottom: 50px;
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 800;
}

.usetestcards{
  display: flex;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}

.testcopy{
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 24px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.testHeading{
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding-top: 150px; 
  justify-content: center;
}

 /* usability results */

     /* Cards */

     .container-fluid-results {
      justify-content: center;
      padding-left: 200px;
      padding-right: 200px;
    }

    .results-process{
      display: flex;
      justify-content: space-evenly;
      padding-left: 100px;
      padding-right: 100px;
      font-family: 'Josefin Sans', sans-serif; 
      font-weight: 800;
      padding-bottom: 200px;
    }

    .resultscard{
      padding-left: 20px;
      padding-right: 20px;
      width: 200px;
    }

    .resultsHeading{
      font-family: 'Josefin Sans', sans-serif; 
      color: #353737;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 150px;
    }

    .results-text{
      color: #353737;
      font-family: 'Josefin Sans', sans-serif; 
      font-size: 24px;
      text-align: center;
      padding-bottom: 40px;
      font-weight: 800;
    }

    .results-title{
      color: #E7A64E;
      font-size: 24px;
      text-align: center;
      padding-bottom: 20px;
    }

    .resultscopy{
      text-align: center;
      list-style-type: none;
      font-size: 22px;
      font-weight: 650;
    }

 /* Site Mapping */

 .site{
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

.sitecopy{
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 24px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

    /* wireframing */

    .wire{
      display: flex;
      font-family: 'Josefin Sans', sans-serif; 
      background-image: url(../images/wire.png);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      color: #353737;
      font-weight: 800;
      text-align: left;
      padding-bottom: 50px;
      padding-top: 100px; 
      grid-template-rows: 50% 50%;
      height: 500px;
    }

    .wiretext{
      width: 45%;
      padding-left: 200px;
    }
    .wire-head{
      font-size: 30px;
      padding-bottom: 50px;
      padding-top: 20px; 
    }

    .wirecopy{
      font-size: 24px;
      padding-bottom: 50px;
    }

 /* Style Guide */

 .style{
  padding-top: 100px;
  font-family: 'Josefin Sans', sans-serif; 
  color: #353737;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

.stylecopy{
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 650;
  color: #353737;
  font-size: 24px;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 50px;
}